# Application
external_data/
data/
config.toml

deploy/filebrowser_config/
deploy/caddy_config/
deploy/caddy_data/
deploy/external_data/

# Environnement
venv/
.venv/
.env

# Tools
.tox/
.ruff_cache

# IDEs
.vscode/**
!.vscode/launch.json
!.vscode/tasks.json

.fleet/

# Builds
*.egg-info/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MacOS
**/.DS_Store

# Exceptions
!deploy/.env
!deploy/config.toml
!deploy/external_data/personal_informations/example.csv
!deploy/external_data/colloscopes/example.csv
